<div class="">
  <div class="group relative">
    <div class="overflow-hidden w-full h-auto rounded-t-xl ">
      <a href="{{ product.url }}">
        {% if product.featured_image %}
          <img
            class="transition duration-1000 ease-in-out hover:scale-105 transform z-0 w-full"
            src="{{ product.featured_image |  image_url: width:400, height:550  }}"
            alt="{{ product.featured_image.alt }}"
            width="400"
            height="550"
          >
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'bg-gray-100 w-100 h-100 object-cover  rounded-t-xl' }}
        {% endif %}
      </a>
    </div>
    <h3 class="mt-4 text-base font-semibold text-gray-900">
      <a href="{{ product.url }}">
        <span class="absolute inset-0"></span>
        {{ product.title | truncatewords: 8 }}
      </a>
    </h3>
    <p class="mt-1 text-sm text-gray-500">{{ product.price | money }}</p>
  </div>
</div>
