<div class="bg-white">
  <div class="mx-auto max-w-xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">{{ section.settings.title }}</h2>
    <p class="mt-4 text-base text-gray-500">
      {{ section.settings.desc }}
    </p>

    <div class="mt-10 space-y-12 lg:grid lg:grid-cols-2 lg:gap-8 lg:space-y-0">
      {%- for block in section.blocks -%}
        <a href="{{ block.settings.collection.url }}" class="group block">
          <div
            aria-hidden="true"
            class=" overflow-hidden rounded-lg aspect-h-6 aspect-w-5 group-hover:opacity-75"
          >
            <img
              src="{{ block.settings.collection.featured_image |  image_url: width:590, height:610  }}"
              alt="{{ block.settings.collection.featured_image.alt }}"
              src="https://tailwindui.com/img/ecommerce-images/home-page-01-collection-01.jpg"
              width="590"
              height="610"
              class="h-full w-full object-cover object-center"
            >
          </div>
          <h3 class="mt-4 text-base font-semibold text-gray-900">{{ block.settings.collection.title }}</h3>
        </a>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection Preview",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Shop by Collection",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "desc",
      "default": "Designed for circularity, created from plants instead plastic.",
      "label": "Description"
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "Collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collections",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
