<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto" x-data="{ new_address: false}">
  <div class="flex flex-col sm:flex-row justify-start md:justify-between items-start my-5 bg-gray-100 p-4 rounded-lg gap-2">
    <div class="space-y-2">
      <h1 class="text-2xl font-bold md:text-3xl md:leading-tight w-full">
        Addresses</h1>
    </div>
    <div class="flex justify-start sm:justify-end items-center gap-2 w-full ">
      <button
        x-on:click="new_address = true "
        type="button"
        class="py-2 px-3 flex items-center justify-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none  ">
        Add new address
      </button>
      <a href="{{ routes.account_url }}" class="py-2 px-3 flex items-center justify-center gap-x-2 text-sm font-semibold  rounded-lg border border-blue-600 text-blue-600 hover:border-blue-500 hover:text-blue-500 disabled:opacity-50 disabled:pointer-events-none  text-center">
        Back to account</a>
    </div>
  </div>

  <div x-show="new_address" class="h-full w-full fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto z-50">
    <div class="relative max-w-md mx-auto bg-white border top-20 p-4 rounded-lg">
      <div class="flex items-center justify-between mb-4">
        <h2 class="text-lg font-medium">
          New address</h2>
        <button x-on:click="new_address = false " class="text-gray-500 hover:text-gray-700">
          {% render 'icon-close' %}</button>
      </div>
      {% form 'customer_address'
        , customer.new_address %}
        <div class="space-y-4">
          <div>
            <label for="address_fname_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">First name</label>
            <input
              type="text"
              name="address[first_name]"
              id="address_fname_{{ form.id }}"
              value="{{ form.first_name }}"
              class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <div>
            <label for="address_lname_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Last name</label>
            <input
              type="text"
              name="address[last_name]"
              id="address_lname_{{ form.id }}"
              value="{{ form.last_name }}"
              class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <div>
            <label for="address_company_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Company</label>
            <input
              type="text"
              name="address[company]"
              id="address_company_{{ form.id }}"
              value="{{ form.company }}"
              class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <div>
            <label for="address_address1_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Address 1</label>
            <input
              type="text"
              name="address[address1]"
              id="address_address1_{{ form.id }}"
              value="{{ form.address1 }}"
              class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <div>
            <label for="address_address2_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Address 2</label>
            <input
              type="text"
              name="address[address2]"
              id="address_address2_{{ form.id }}"
              value="{{ form.address2 }}"
              class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <div>
            <label for="address_city_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">City</label>
            <input
              type="text"
              name="address[city]"
              id="address_city_{{ form.id }}"
              value="{{ form.city }}"
              class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <div>
            <label for="address_country_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Country</label>
            <select
              name="address[country]"
              id="address_country_{{ form.id }}"
              value="{{ form.country }}"
              class=" py-2 px-3 pe-9 block border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none w-full"
              data-country-selector
              data-id="{{ form.id }}">
              {{ all_country_option_tags }}
            </select>
          </div>
          <div>
            <label for="address_province_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Province</label>
            <select
              name="address[province]"
              id="address_province_{{ form.id }}"
              value="{{ form.province }}"
              class=" py-2 px-3 pe-9 block border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none w-full"></select>
          </div>
          <div>
            <label for="address_zip_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Postal/ZIP code</label>
            <input
              type="text"
              name="address[zip]"
              id="address_zip_{{ form.id }}"
              value="{{ form.zip }}"
              class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <div>
            <label for="address_phone_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Phone number</label>
            <input
              type="tel"
              name="address[phone]"
              id="address_phone_{{ form.id }}"
              value="{{ form.phone }}"
              class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
          </div>
          <div class="flex">
            {{ form.set_as_default_checkbox }}
            <label for="address_default_address_{{ form.id }}" class="text-sm text-gray-500 ms-3 ">Set as default address</label>
          </div>
          <div class="flex gap-2">
            <button type="submit" class="py-2 px-3 flex items-center justify-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none w-full ">
              Create address
            </button>
            <button type="reset" class="py-2 px-3 flex items-center justify-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700 disabled:opacity-50 disabled:pointer-events-none w-full ">
              Reset
            </button>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
  <div>
    {% paginate customer.addresses by 12 %}
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        {% for address in customer.addresses %}
          <div x-data="{ address_{{ address.id }}: false }" class="flex flex-col bg-white border shadow-sm rounded-xl ">
            <div class="p-4 md:p-5">
              <div class="flex gap-2">
                <h3 class="text-lg font-bold text-gray-800 h-[28px]">
                  {{ address.city | capitalize }}
                </h3>
                {% if address == customer.default_address %}
                  <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-blue-100 text-blue-800 ">Default</span>
                {% endif %}
              </div>
              <div class="mt-1 text-gray-500 h-[120px] overflow-hidden">
                {{ address | format_address }}
              </div>
              <div class="flex justify-end gap-2">
                <button x-on:click="address_{{ address.id }} = true" class="mt-2 py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                  Edit
                </button>
                <button class="mt-2 py-2 px-3 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700 disabled:opacity-50 disabled:pointer-events-none">
                  Delete
                </button>
              </div>
            </div>
            <div x-show="address_{{ address.id }}" class="h-full w-full fixed inset-0 bg-gray-600 bg-opacity-50 overflow-y-auto z-50">
              <div class="relative max-w-md mx-auto bg-white border top-20 p-4 rounded-lg">
                <div class="flex items-center justify-between mb-4">
                  <h2 class="text-lg font-medium">
                    Edit address</h2>
                  <button x-on:click="address_{{ address.id }} = false" class="text-gray-500 hover:text-gray-700">
                    {% render 'icon-close' %}</button>
                </div>
                {% form 'customer_address'
                  , address %}
                  <div class="space-y-4">
                    <div>
                      <label for="address_fname_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">First name</label>
                      <input
                        type="text"
                        name="address[first_name]"
                        id="address_fname_{{ form.id }}"
                        value="{{ form.first_name }}"
                        class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                    </div>
                    <div>
                      <label for="address_lname_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Last name</label>
                      <input
                        type="text"
                        name="address[last_name]"
                        id="address_lname_{{ form.id }}"
                        value="{{ form.last_name }}"
                        class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                    </div>
                    <div>
                      <label for="address_company_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Company</label>
                      <input
                        type="text"
                        name="address[company]"
                        id="address_company_{{ form.id }}"
                        value="{{ form.company }}"
                        class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                    </div>
                    <div>
                      <label for="address_address1_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Address 1</label>
                      <input
                        type="text"
                        name="address[address1]"
                        id="address_address1_{{ form.id }}"
                        value="{{ form.address1 }}"
                        class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                    </div>
                    <div>
                      <label for="address_address2_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Address 2</label>
                      <input
                        type="text"
                        name="address[address2]"
                        id="address_address2_{{ form.id }}"
                        value="{{ form.address2 }}"
                        class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                    </div>
                    <div>
                      <label for="address_city_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">City</label>
                      <input
                        type="text"
                        name="address[city]"
                        id="address_city_{{ form.id }}"
                        value="{{ form.city }}"
                        class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                    </div>
                    <div>
                      <label for="address_country_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Country</label>
                      <select
                        name="address[country]"
                        id="address_country_{{ form.id }}"
                        value="{{ form.country }}"
                        class=" py-2 px-3 pe-9 block border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none w-full"
                        data-country-selector
                        data-id="{{ form.id }}">
                        {{ all_country_option_tags }}
                      </select>
                    </div>
                    <div>
                      <label for="address_province_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Province</label>
                      <select
                        name="address[province]"
                        id="address_province_{{ form.id }}"
                        value="{{ form.province }}"
                        class=" py-2 px-3 pe-9 block border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none w-full"></select>
                    </div>
                    <div>
                      <label for="address_zip_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Postal/ZIP code</label>
                      <input
                        type="text"
                        name="address[zip]"
                        id="address_zip_{{ form.id }}"
                        value="{{ form.zip }}"
                        class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                    </div>
                    <div>
                      <label for="address_phone_{{ form.id }}" class="block mb-2 text-sm text-gray-700 font-medium ">Phone number</label>
                      <input
                        type="tel"
                        name="address[phone]"
                        id="address_phone_{{ form.id }}"
                        value="{{ form.phone }}"
                        class="py-2 px-3 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none">
                    </div>
                    <div class="flex">
                      {{ form.set_as_default_checkbox }}
                      <label for="address_default_address_{{ form.id }}" class="text-sm text-gray-500 ms-3 ">Set as default address</label>
                    </div>

                    <div class="flex gap-2">
                      <button type="submit" class="py-2 px-3 flex items-center justify-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none w-full ">
                        Save address
                      </button>
                      <button type="reset" class="py-2 px-3 flex items-center justify-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-red-600 text-white hover:bg-red-700 disabled:opacity-50 disabled:pointer-events-none w-full ">
                        Reset
                      </button>
                    </div>
                  </div>
                {% endform %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endpaginate %}
  </div>
</div>

<script>
    class CustomerAddress {
        constructor() {
            this.initCustomerAddress();
            this.customerAddressesSelector();
        }
        initCustomerAddress() {
            const allAddressesSelector = document.querySelectorAll("select[data-country-selector]");
            if(allAddressesSelector.length < 1) return;
            //console.log(allAddressesSelector);
            allAddressesSelector.forEach(select => {
                var selectedCountry = this.getSelectedCountry(select);
                if(!selectedCountry) return;
                var provinces = selectedCountry.dataset.provinces;
                var arrayOfProvince = JSON.parse(provinces);
                var provinceSelector = document.querySelector(`#address_province_${select.dataset.id}`);
                if(arrayOfProvince.length < 1) {
                    provinceSelector.setAttribute('disabled', 'disabled');
                } else {
                    provinceSelector.removeAttribute('disabled');
                }
                provinceSelector.innerHTML = '';
                var options = '';
                for(var index = 0; index < arrayOfProvince.length; index++) {
                    if(arrayOfProvince[index][0] === provinceSelector.getAttribute('value')) {
                        options += `<option value="${arrayOfProvince[index][0]}" selected>${arrayOfProvince[index][0]}</option>`;
                    } else {
                        options += `<option value="${arrayOfProvince[index][0]}">${arrayOfProvince[index][0]}</option>`;
                    }
                }
                provinceSelector.innerHTML = options;
            })
        }
        getSelectedCountry(select) {
            var option, selectedOption;
            for(var index = 0; index < select.options.length; index++) {
                option = select.options[index];
                if(option.value === select.getAttribute('value')) {
                    selectedOption = option;
                    selectedOption.setAttribute('selected', 'selected');
                    break;
                }
            }
            return selectedOption;
        }
    
        customerAddressesSelector() {
            const addressesSelector = document.querySelectorAll("select[data-country-selector]");
            if(addressesSelector.length < 1) return;
            addressesSelector.forEach(select => {
                select.addEventListener('change', function(e) {
                    var provinces = this.options[this.selectedIndex].dataset.provinces;
                    var arrayOfProvince = JSON.parse(provinces);
                    var provinceSelector = document.querySelector(`#address_province_${this.dataset.id}`);
                    if(arrayOfProvince.length < 1) {
                        provinceSelector.setAttribute('disabled', 'disabled');
                    } else {
                        provinceSelector.removeAttribute('disabled');
                    }
                    provinceSelector.innerHTML = '';
                    var options = '';
                    for(var index = 0; index < arrayOfProvince.length; index++ ) {
                        options += `<option value="${arrayOfProvince[index][0]}">${arrayOfProvince[index][0]}</option>`;
                    }
                    provinceSelector.innerHTML = options;
                });
            });
        }
    }
    const customerAddress = new CustomerAddress();
</script>