<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js" defer></script>

{% assign selected_variant = product.selected_or_first_available_variant %}

<style>
  .swiper-button-prev,
  .swiper-button-next {
    color: black;
    top: auto;
    bottom: -2.5rem !important;
    height: 15px;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 10px;
  }
  .swiper-pagination {
    color: black;
    bottom: -2.5rem !important;
    font-size: 10px;
  }
  .swiper-pagination-bullet-active {
    background: black !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 35% !important;
  }
  .swiper-button-prev,
  .swiper-button-next {
    right: 35% !important;
  }
  .product--information {
    height: fit-content;
  }
</style>

<div class="max-w-[85rem] mx-auto my-8 ">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="product--medias">
      <div class="hidden md:block">
        {% for media in product.media %}
          <div class="h-100 overflow-hidden p-2 ">
            {% render 'product-media', media: media %}
          </div>
        {% endfor %}
      </div>
      <div class="md:hidden relative">
        <div class="swiper ">
          <div class="swiper-wrapper">
            {% for media in product.media %}
              <div class="swiper-slide">
                <div class="w-full aspect-square overflow-hidden">
                  {% render 'product-media', media: media %}
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="swiper-pagination "></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>

    <div class="product--information px-4 py-14 sm:px-6 lg:px-8 md:py-0 sticky top-5">
      {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
        <input
          type="hidden"
          name="id"
          value="{{ selected_variant.id }}"
        >

        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              <h1 class="text-3xl font-bold tracking-tight text-gray-900">
                {{ product.title }}
              </h1>
            {% when 'price' %}
              <div class="flex items-end flex-wrap justify-between my-6 gap-4" id="price-{{ section.id }}">
                <div>
                  <span class="text-3xl tracking-tight text-gray-900">
                    {{ selected_variant.price | money -}}
                  </span>
                  {% if selected_variant.price < selected_variant.compare_at_price %}
                    <span class="text-xl tracking-tight text-gray-900 line-through ml-4">
                      {{ selected_variant.compare_at_price | money -}}
                    </span>
                  {% endif %}
                </div>
                {% if selected_variant.price < selected_variant.compare_at_price %}
                  <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-red-100 text-red-800 "
                    >Sale</span
                  >
                {% endif %}
              </div>
            {% when 'description' %}
              <div class="space-y-6 text-sm text-gray-500 my-6">
                <p>
                  {{ product.description }}
                </p>
              </div>
            {% when 'variant_selector' %}
              <div class="my-4">
                {% unless product.has_only_default_variant %}
                  <variant-selector data-url="{{ product.url}}" data-section="{{ section.id }}">
                    {% for option in product.options_with_values %}
                      <div class="my-4">
                        <label
                          for="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="block text-sm font-medium mb-2 "
                        >
                          {{- option.name -}}
                        </label>
                        <select
                          name="options[{{ option.name | escape }}]"
                          id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="py-3 px-4 pe-9 block border border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none w-full"
                        >
                          {% for value in option.values %}
                            <option
                              value="{{ value | escape }}"
                              {% if option.selected_value == value %}
                                selected="selected"
                              {% endif %}
                            >
                              {{ value }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>

                      <script type="application/json">
                        {{ product.variants | json }}
                      </script>
                    {% endfor %}
                  </variant-selector>
                {% endunless %}
              </div>

            {% when 'quantity' %}
              <div class="flex flex-col items-start md:flex-row md:items-center md:gap-4 border p-4 rounded-lg bg-gray-50">
                <div class="my-2 md:my-4">
                  <label for="Quantity-{{ section.id }}" class="block text-sm font-medium mb-2 sr-only">Quantity</label>
                  <input
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    value="1"
                    min="1"
                    class="py-3 px-4 block border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none w-24"
                  >
                </div>
            {% when 'checkout_buttons' %}
              <div class="my-2 md:my-4 flex-1 w-full">
                <button
                  type="submit"
                  name="add"
                  class="py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-gray-900 text-white hover:bg-gray-700 disabled:bg-gray-900 disabled:pointer-events-none  justify-center w-full"
                  {% if selected_variant.available == false %}
                    disabled
                  {% endif %}
                >
                  {% if selected_variant.available == false %}
                    Sold out
                  {% else %}
                    Add to cart
                  {% endif %}
                </button>
              </div>
              </div>
            {% when 'additional_details' %}
              <section aria-labelledby="details-heading" class="mt-12">
                <h2 id="details-heading" class="sr-only">Additional details</h2>
                <div class="divide-y divide-gray-200 border-t">
                  <div x-data="{Features: false }" x-cloak>
                    <h3>
                      <!-- Expand/collapse question button -->
                      <button
                        x-on:click="Features = !Features"
                        type="button"
                        class="group relative flex w-full items-center justify-between py-6 text-left"
                        aria-controls="disclosure-1"
                        aria-expanded="false"
                      >
                        <!-- Open: "text-indigo-600", Closed: "text-gray-900" -->
                        <span
                          class=" text-sm font-medium"
                          :class="{ 'text-indigo-600': Features, 'text-gray-900': !(Features) }"
                          >Features</span
                        >
                        <span class="ml-6 flex items-center">
                          <!-- Open: "hidden", Closed: "block" -->
                          <svg
                            class="block h-6 w-6 text-gray-400 group-hover:text-gray-500"
                            :class="{ 'hidden': Features, 'block': !(Features) }"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                          </svg>
                          <!-- Open: "block", Closed: "hidden" -->
                          <svg
                            class="hidden h-6 w-6 text-indigo-400 group-hover:text-indigo-500"
                            :class="{ 'block': Features, 'hidden': !(Features) }"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                          </svg>
                        </span>
                      </button>
                    </h3>
                    <div class="prose prose-sm pb-6 text-sm" id="disclosure-1" x-show="Features">
                      <ul role="list" class="text-gray-500 space-y-2 pl-4 list-disc">
                        <li>Multiple strap configurationsa</li>
                        <li>Spacious interior with top zip</li>
                        <li>Leather handle and tabs</li>
                        <li>Interior dividers</li>
                        <li>Stainless strap loops</li>
                        <li>Double stitched construction</li>
                        <li>Water-resistant</li>
                      </ul>
                    </div>
                  </div>
                  <div x-data="{Care: false }" x-cloak>
                    <h3>
                      <!-- Expand/collapse question button -->
                      <button
                        x-on:click="Care = !Care"
                        type="button"
                        class="group relative flex w-full items-center justify-between py-6 text-left"
                        aria-controls="disclosure-1"
                        aria-expanded="false"
                      >
                        <!-- Open: "text-indigo-600", Closed: "text-gray-900" -->
                        <span
                          class=" text-sm font-medium"
                          :class="{ 'text-indigo-600': Care, 'text-gray-900': !(Care) }"
                          >Care</span
                        >
                        <span class="ml-6 flex items-center">
                          <!-- Open: "hidden", Closed: "block" -->
                          <svg
                            class="block h-6 w-6 text-gray-400 group-hover:text-gray-500"
                            :class="{ 'hidden': Care, 'block': !(Care) }"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                          </svg>
                          <!-- Open: "block", Closed: "hidden" -->
                          <svg
                            class="hidden h-6 w-6 text-indigo-400 group-hover:text-indigo-500"
                            :class="{ 'block': Care, 'hidden': !(Care) }"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                          </svg>
                        </span>
                      </button>
                    </h3>
                    <div class="prose prose-sm pb-6 text-sm" id="disclosure-1" x-show="Care">
                      <ul role="list" class="text-gray-500 space-y-2 pl-4 list-disc">
                        <li>Spot clean as needed</li>
                        <li>Hand wash with mild soap</li>
                        <li>Machine wash interior dividers</li>
                        <li>Treat handle and tabs with leather conditioner</li>
                      </ul>
                    </div>
                  </div>
                  <div x-data="{Shipping: false }" x-cloak>
                    <h3>
                      <!-- Expand/collapse question button -->
                      <button
                        x-on:click="Shipping = !Shipping"
                        type="button"
                        class="group relative flex w-full items-center justify-between py-6 text-left"
                        aria-controls="disclosure-1"
                        aria-expanded="false"
                      >
                        <!-- Open: "text-indigo-600", Closed: "text-gray-900" -->
                        <span
                          class=" text-sm font-medium"
                          :class="{ 'text-indigo-600': Shipping, 'text-gray-900': !(Shipping) }"
                          >Shipping</span
                        >
                        <span class="ml-6 flex items-center">
                          <!-- Open: "hidden", Closed: "block" -->
                          <svg
                            class="block h-6 w-6 text-gray-400 group-hover:text-gray-500"
                            :class="{ 'hidden': Shipping, 'block': !(Shipping) }"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                          </svg>
                          <!-- Open: "block", Closed: "hidden" -->
                          <svg
                            class="hidden h-6 w-6 text-indigo-400 group-hover:text-indigo-500"
                            :class="{ 'block': Shipping, 'hidden': !(Shipping) }"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                          </svg>
                        </span>
                      </button>
                    </h3>
                    <div class="prose prose-sm pb-6 text-sm" id="disclosure-1" x-show="Shipping">
                      <ul role="list" class="text-gray-500 space-y-2 pl-4 list-disc">
                        <li>Free shipping on orders over $300</li>
                        <li>International shipping available</li>
                        <li>Expedited shipping options</li>
                        <li>Signature required upon delivery</li>
                      </ul>
                    </div>
                  </div>
                  <div x-data="{Returns: false }" x-cloak>
                    <h3>
                      <!-- Expand/collapse question button -->
                      <button
                        x-on:click="Returns = !Returns"
                        type="button"
                        class="group relative flex w-full items-center justify-between py-6 text-left"
                        aria-controls="disclosure-1"
                        aria-expanded="false"
                      >
                        <!-- Open: "text-indigo-600", Closed: "text-gray-900" -->
                        <span
                          class=" text-sm font-medium"
                          :class="{ 'text-indigo-600': Returns, 'text-gray-900': !(Returns) }"
                          >Returns</span
                        >
                        <span class="ml-6 flex items-center">
                          <!-- Open: "hidden", Closed: "block" -->
                          <svg
                            class="block h-6 w-6 text-gray-400 group-hover:text-gray-500"
                            :class="{ 'hidden': Returns, 'block': !(Returns) }"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                          </svg>
                          <!-- Open: "block", Closed: "hidden" -->
                          <svg
                            class="hidden h-6 w-6 text-indigo-400 group-hover:text-indigo-500"
                            :class="{ 'block': Returns, 'hidden': !(Returns) }"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                          >
                            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15" />
                          </svg>
                        </span>
                      </button>
                    </h3>
                    <div class="prose prose-sm pb-6 text-sm" id="disclosure-1" x-show="Returns">
                      <ul role="list" class="text-gray-500 space-y-2 pl-4 list-disc">
                        <li>Easy return requests</li>
                        <li>Pre-paid shipping label included</li>
                        <li>10% restocking fee for returns</li>
                        <li>60 day return window</li>
                      </ul>
                    </div>
                  </div>
                  <!-- More sections... -->
                </div>
              </section>
            {% else %}

          {% endcase %}
        {% endfor %}
      {% endform %}
    </div>
  </div>
</div>
<script>
  class VariantSelector extends HTMLElement {
    constructor() {
      super();
      this.addEventListener('change', this.onVariantChange);
    }

    onVariantChange() {
      this.getSelectedOptions();
      this.getSelectedVariant();

      if (this.currentVariant) {
        this.updateURL();
        this.updateFormID();
        this.updatePrice();
      }
    }

    getSelectedOptions() {
      this.options = Array.from(this.querySelectorAll('select'), (select) => select.value);
      console.log(this.options);
    }

    getVariantJSON() {
      this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
      return this.variantData;
    }

    getSelectedVariant() {
      this.currentVariant = this.getVariantJSON().find((variant) => {
        const findings = !variant.options
          .map((option, index) => {
            return this.options[index] === option;
          })
          .includes(false);

        if (findings) return variant;
      });

      console.log(this.currentVariant);
    }

    updateURL() {
      if (!this.currentVariant) return;
      window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`);
    }

    updateFormID() {
      const form_input = document.querySelector('#product-form').querySelector('input[name="id"]');
      form_input.value = this.currentVariant.id;
    }

    updatePrice() {
      fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
        .then((response) => response.text())
        .then((responseText) => {
          const id = `price-${this.dataset.section}`;
          const html = new DOMParser().parseFromString(responseText, 'text/html');

          const oldPrice = document.getElementById(id);
          const newPrice = html.getElementById(id);

          if (oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;
        });
    }
  }

  customElements.define('variant-selector', VariantSelector);
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    try {
      const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,
        pagination: {
          el: '.swiper-pagination',
          type: 'fraction',
        },
        navigation: {
          prevEl: '.swiper-button-prev',
          nextEl: '.swiper-button-next',
        },
      });
    } catch (e) {
      console.log('SwiperJS is not defined');
    }
  });
</script>

{% schema %}
{
  "name": "Product",
  "blocks": [
    {
      "type": "vendor",
      "name": "Vendor",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "variant_selector",
      "name": "Variant Selector",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "checkout_buttons",
      "name": "Checkout Butons",
      "limit": 1
    },
    {
      "type": "additional_details",
      "name": "Additional Details",
      "limit": 1
    }
  ]
}
{% endschema %}
